module.exports = {
    "userName" : "myuser",
    "userPassword" : "mypassword",
    "serviceName" : "myservice",
    "dataRate" : 3, //3 seconds
    "deviceName" : "mydevice",
    "host" : "test.sktiot.com", 
    "port" : 9000,
    "timer" : 10 //10 seconds
}